<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definition for textEditor bean -->

    <bean id ="lifecycle" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="initializer" destroy-method="destroyer">

    </bean>
    <bean id ="details" class="com.stackroute.domain.Actor">
        <property name="name" value="Will smith"/>
        <property name="gender" value="male"/>
        <property name="age" value="55"/>
    </bean>
    <bean id ="det" class="com.stackroute.domain.Actor">
        <property name="name" value="Will smith"/>
        <property name="gender" value="male"/>
        <property name="age" value="55"/>
    </bean>
    <bean id="movie1" class="com.stackroute.domain.Movie" autowire="byName">


    </bean>
    <bean id="movie2" class="com.stackroute.domain.Movie">
        <constructor-arg name="details" ref="det">

        </constructor-arg>
    </bean>


</beans>
