<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definition for textEditor bean -->
    <bean id="movie" class="com.stackroute.domain.Movie">
        <property name="details">
            <bean class="com.stackroute.domain.Actor">
                <property name="name" value="Will smith"></property>
                <property name="gender" value="male"></property>
                <property name="age" value="55"></property>
            </bean>
        </property>

    </bean>

</beans>
